<link rel="stylesheet" href="/css/home.css">


<body>
    <h1>Welcome <%=profile.name%></h1>
    <div>
        
        <%if(profile.isAdmin){%>
            
            <button class="button" id="showAllEmployees">Show all employees</button>
            <button class="button" id="addNewEmployee">Add new employee</button>
            <button class="button" id="prformanceReview">Performance Review</button>
            <button class="button" id="pendingItems">Pending Items</button>
        <%}%>
    <div id="allEmployeeContainer">
        <h3>All Employees</h3>
        <ul id="allEmployee">
        </ul>
    </div>

    <div id="addNewEmployeeContainer">
        <h3>Add New Employee</h3>
        <form action="/employee/create" method="POST">
            
            <input class="review-details d-block" type="text" name="name" placeholder="Employee Name">
            <input class="review-details d-block" type="email" name="email" placeholder="Employee Email">
            <input class="review-details d-block" type="password" name="password" placeholder="Password">
            <input style="margin-top:2% ;" height="1.3rem" type="checkbox" name="isAdmin"><label style="font-size:1.3rem;">Make admin?</label>
            <input class="button d-block" type="submit" value="Add Employee">
        </form>
    </div>


    <div id="employeeReviews">
        <div id="myReviews"></div>
    </div>

    <div class="performanceReviewContaier" id='performanceReviewContaier'>
        <form class="performanceReviewContaier" action="/employee/review-request" method="POST">
            <h3>Employee to be reviewd</h3>
            <input name="toBeReviewd" class="performanceReviewContaier review-details" list="toBeReviewd">
            <datalist id="toBeReviewd">
                <%for(let i=0;i<allEmployees.length;i++){%>
                    <option value="<%=allEmployees[i].email%>" ><%=allEmployees[i].name%></option>
                <%}%>
            </datalist>

            <h3>Reviewer</h3>
            <input name="Reviewer" class="performanceReviewContaier review-details" list="Reviewer">
            <datalist id="Reviewer">
                <%for(let i=0;i<allEmployees.length;i++){%>
                    <option value="<%=allEmployees[i].email%>" ><%=allEmployees[i].name%></option>
                <%}%>
            </datalist> 

            <input class="performanceReviewContaier button" type="submit" value="Request" style="margin-top:4% ;">
        </form>
    </div>

    <div id="pendingItemsContainer">
        <h2>Pending action items for you</h2>
            <%for(let i=0;i<profile.pendingReviews.length;i++){%>
                <div style="display:block;margin-top: 4%;"id="pendingItemForm-<%=profile.pendingReviews[i]._id%>">
                    <div class="pending-reviews"><%=profile.pendingReviews[i].name%></div>
                    <div style="display:inline-block; vertical-align:middle ;"><textarea class="reviewText" placeholder="Write your review here ..." name="" id="pendingItem-<%=profile.pendingReviews[i]._id%>" cols="80" rows="2"></textarea></div>
                    <button class="submitReview button" id="submitReview-<%=profile.pendingReviews[i]._id%>">Review</button>
                </div>
            <%}%>
        
    </div>
</body>
<script src = /js/home.js></script>
