<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="icon" type="image/x-icon" href="/images/icon.webp">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <%- style %>
        
    </head>

    <body style="background-image: url(/images/background.webp);background-size: cover; color: #bdbde3; margin-left:2%; margin-right:2% ;">
        <link href="/css/layout.css" crossorigin="anonymous">
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>